<nav>
  <a href="#" class="nav-logo">AT</a>
  <ul class="nav-links">
    <li class="nav-group">
      <button class="nav-menu-btn" type="button">Experience</button>
      <ul class="nav-dropdown">
        <li><a href="#shib">Shib Eternity</a></li>
        <li><a href="#anarchy">Anarchy</a></li>
        <li><a href="#heroes">Heroes of District</a></li>
      </ul>
    </li>
    <li class="nav-group">
      <button class="nav-menu-btn" type="button">Projects</button>
      <ul class="nav-dropdown">
        <li><a href="#kingdom">KingdomColliders</a></li>
      </ul>
    </li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <a href="mailto:thodupunoorianeesh@gmail.com" class="nav-cta">Hire me</a>
</nav>
